.app-header {
    height: 50px;
    background-color: red;
    padding-top: 2px;
}

.small-logo {
    text-align: center;
    font-size: 30px;
    color: red;
    background: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 1%;
    font-family: Poppins;
    font-weight: bold;
}

.login {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.signUp {
    margin: 10px 5px 0 10px;
    padding: 2px 15px 0px 15px;
    border-radius: 3px;
    border: solid 1px #ffffff;
}